<div class="container">
  <p style="color: green"><%= notice %></p>
  <h2 class="title-lg mb"><%= t("emp-profile.many") %></h2>

  <div id="employee_profiles">
    <% @employee_profiles.each do |employee_profile| %>
      <div class="user-card mt-ls">
        <%= render employee_profile %>
      </div>
      <div class="mt-md mb-ls">
      <%= link_to t("select"), new_order_path(employee_id: employee_profile.id), class: 'button button-yellow mr-sm' %>
      </div>
    <% end %>
  </div>
</div>

