<h1>Editing client like</h1>

<%= render "form", client_like: @client_like %>

<br>

<div>
  <%= link_to "Show this client like", @client_like %> |
  <%= link_to "Back to client likes", client_likes_path %>
</div>
