<div class="container">
  <h2 class="title-lg mb"><%= t("choose-option")%></h2>
  <div class="mt-md">
    <%= link_to "#{t("sign-up-cli")}", new_client_registration_path, class: 'button button-yellow large  mr-sm' %>
  </div>
  <div class="mt-md">
    <%= link_to "#{t("sign-up-emp")}", new_employee_registration_path, class: 'button button-yellow large mr-sm' %>
  </div>
</div>