<div class="container">
  <h2 class="title-lg mb"><%= t('orders_data.new.title') %></h2>
  <%= render "form", order: @order %>
  <br>
  <div>
    <%= link_to t("back_to_main"), root_path, class: 'button button-yellow'%>
  </div>
</div>