body {
    background: #060225; 
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    background: #fff;
    flex: 1 1 auto;
    max-width: 1199px;
    margin: 130px auto 30px; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}

.container, .navbar, .topnav {
    padding: 30px;
}

.navbar, .topnav {
    background-color: #370617;
    color: white;   
    flex: 1 1 auto;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 6%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: calc(100% - 60px);
    height: 25px;
    z-index: 1000; 
}

.navbar a, .topnav a {
    color: white;
    text-decoration: none;
} 

.platform-logo {
    display: block;
    margin: 0 auto;
    fill: #3498db;
    width: 200px; 
    height: auto;
}

.exchange-logo {
    display: block;
    margin: 0 auto;
    fill: #3498db;
    width: 50px; 
    height: auto;
}

.logo-container {
    display: flex;
    align-items: center; 
}

.i18n-container {
    white-space: nowrap; 
    display: inline-block; 
    margin-right: 10px; 
}


.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;  
    }
}

.form-wrapper {
    max-width: 400px;
    margin: 0 auto; 
    text-align: center; 
}

.label-wrapper {
    /* max-width: 400px; */
    margin: 0 auto; 
    text-align: left; 
}

/* .form-wrapper select {
    width: 100%;
} */

